<!-- The variables involved here are all attached to $scope in the controller -->
<div class="row" ng-init="initialize()">
    <div class="col-md-8">
        <div ng-bind-html="question.question"></div>
        <button class="btn btn-primary" role="button" ng-click="answerIsShowing = !answerIsShowing">Show me the answer</button>
        <div ng-show="answerIsShowing" id="answer">
            <div class="panel panel-default">
                <div class="panel-body">{{question.answer}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Air date: {{question.air_date}} for show number {{question.show_number}}</p>
        <p>Category: {{question.category}}</p>
        <p>Value: {{question.value}}</p>
    </div>
</div>
<a class="btn btn-primary" href="#/question/{{questionNumber - 1}}" ng-show="questionNumber >= 0"><i class="glyphicon glyphicon-chevron-left"></i></a>
<a class="btn btn-primary" href="#/question/{{questionNumber + 1}}" ng-show="questionNumber < allQuestions.length"><i class="glyphicon glyphicon-chevron-right"></i></a>